.principal{
    background-color:#535353;
    color: aliceblue
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: greenyellow;
    color : black;
  }

  
.titulo {
   
    font-size: 40px;
    font-weight: bold;
    margin-top: 20px;
}

.fas {
    cursor : pointer;
    margin-left: 5px;
    
}