<header class="p-2 navbar text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">


        <ul class="nav col-12 mb-2  mb-md-0">
          <li><a href="#" class="nav-link px-2 text-secondary nav-toggler">Home</a></li>
          <li><a routerLink="/dashboard/equipos" class="nav-link px-2 text-white">Equipos</a></li>
          <li><a routerLink="/dashboard/listarReparaciones" class="nav-link px-2 text-white">Reparaciones</a></li>
          <li><a routerLink="/dashboard/puntos" class="nav-link px-2 text-white">Clasificacion</a></li>
          <li><a href="#" class="nav-link px-2 text-white">About</a></li>
          
        </ul>
      </div><i routerLink="/login" class="fa-solid fa-right-from-bracket fas "></i>
    </div>
  </header>
  <router-outlet></router-outlet>
